---
import Section from "../../components/Section/Section.astro";
import Sentences from "../../components/Sentence/Sentences";
import Tooltip from "../../components/Tooltip.astro";
import Table from "../../components/Table.astro";
import Layout from "../../layouts/Layout.astro";
import { degreesExamples } from "../../utils/examples/adjektiver";
import { COLORS } from "../../utils/fixedColors";
---

<Layout
  title={{
    text: "Degrees of adjectives",
    tooltip: "Grader af adjektiver",
  }}
>
  <Section title="The three degrees">
    <p class="max-w-2xl mx-auto text-justify hyphens-auto">
      Most adjectives get the -ere and -est suffixes, unless they are irregular.
      The comperative and superlative forms don't change based on plural or
      n/t-words.
    </p>
    <Table>
      <thead>
        <tr>
          <th>Basic</th>
          <th>Comperative</th>
          <th>Superlative</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <Tooltip tooltip="high"> høj </Tooltip>
          </td>
          <td class={COLORS.Important.class}>
            <Tooltip tooltip="higer"> højere </Tooltip>
          </td>
          <td class={COLORS.Secondary.class}>
            <Tooltip tooltip="highest"> højest </Tooltip>
          </td>
        </tr>
        <tr>
          <td>
            <Tooltip tooltip="expensive"> dyr </Tooltip>
          </td>
          <td class={COLORS.Important.class}>
            <Tooltip tooltip="more expensive"> dyrere </Tooltip>
          </td>
          <td class={COLORS.Secondary.class}>
            <Tooltip tooltip="most expensive"> dyrest</Tooltip>
          </td>
        </tr>
        <tr>
          <td>
            <Tooltip tooltip="big"> stor </Tooltip>
          </td>
          <td class={COLORS.Important.class}>
            <Tooltip tooltip="bigger"> større </Tooltip>
          </td>
          <td class={COLORS.Secondary.class}>
            <Tooltip tooltip="biggest"> størst </Tooltip>
          </td>
        </tr>
        <!-- let's do the same with "few": -->
        <tr>
          <td>
            <Tooltip tooltip="few"> få </Tooltip>
          </td>
          <td class={COLORS.Important.class}>
            <Tooltip tooltip="fewer"> færre </Tooltip>
          </td>
          <td class={COLORS.Secondary.class}>
            <Tooltip tooltip="fewest"> færrest </Tooltip>
          </td>
        </tr>
      </tbody>
    </Table>
    <Sentences client:only="react" sentences={degreesExamples} />
  </Section>
</Layout>
