---
import DrawerComponent from "./DrawerComponent.astro";

const allPages = [
    "Home",
    ...Object.keys(import.meta.glob(["../../pages/**/*.astro"]))
        .map((post) =>
            post
                .replace(/\.astro$/, "")
                .replace("../../pages/", "")
                .replace(/\/index$/, ""),
        )
        .filter((p) => p && p !== "index")
        .sort(),
];

export type NestedPages = {
    [key: string]: NestedPages | null;
};

const nestedPages: NestedPages = {};
for (const page of allPages) {
    const parts = page.split("/");
    let current = nestedPages;
    for (const part of parts) {
        if (!current[part]) {
            current[part] = {};
        }
        current = current[part] as NestedPages;
    }
}
---

<div class="drawer-side h-full">
    <label
        for="navigation-drawer"
        aria-label="close sidebar"
        class="drawer-overlay"></label>

    <ul
        class="menu text-base-content min-h-full w-80 p-4 bg-base-100 text-2xl lg:text-base"
    >
        <div class="mt-20"></div>
        {
            Object.entries(nestedPages).map(([parent, children]) => (
                <DrawerComponent
                    parent={parent}
                    children={children}
                    fullPath={
                        parent === "Home"
                            ? `${import.meta.env.BASE_URL}/`
                            : `${import.meta.env.BASE_URL}/${parent}`
                    }
                />
            ))
        }
    </ul>
</div>
