---
import { Image } from "astro:assets";
import hovedsaetningImage from "../images/sentences/hovedsætning.jpg";
import ledsaetningImage from "../images/sentences/ledsætning.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title={{
		danish: "Opbygning af sætninger",
		translation: "Structure of sentences",
	}}
	breadcrumb={[
		{ name: "Home", link: "/" },
		{ name: "Opbygning af sætninger", link: "/" },
	]}
>
	<div class="flex justify-center mb-28">
		<div role="alert" class="alert alert-info max-w-md">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<span>There are only two types of sentences in Danish.</span>
		</div>
	</div>

	<div class="flex w-full space-x-40 px-40">
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={hovedsaetningImage}
					alt="A big kitten. Photo by Frida Lannerström on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Hovedsætning</h2>
				<p>A sentence that can stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Hovedsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
		<div class="divider divider-horizontal">OR</div>
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={ledsaetningImage}
					alt="A little kitten. Photo by George Bonev on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Ledsætning</h2>
				<p>A sentence that cannot stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Ledsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
	</div>

	<div class="flex w-full space-x-40 px-40">
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={hovedsaetningImage}
					alt="A big kitten. Photo by Frida Lannerström on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Hovedsætning</h2>
				<p>A sentence that can stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Hovedsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
		<div class="divider divider-horizontal">OR</div>
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={ledsaetningImage}
					alt="A little kitten. Photo by George Bonev on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Ledsætning</h2>
				<p>A sentence that cannot stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Ledsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
	</div>

	<div class="flex w-full space-x-40 px-40">
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={hovedsaetningImage}
					alt="A big kitten. Photo by Frida Lannerström on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Hovedsætning</h2>
				<p>A sentence that can stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Hovedsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
		<div class="divider divider-horizontal">OR</div>
		<div class="card card-compact bg-base-100 shadow-xl flex-1">
			<figure>
				<Image
					src={ledsaetningImage}
					alt="A little kitten. Photo by George Bonev on Unsplash"
				/>
			</figure>
			<div class="card-body">
				<h2 class="card-title">Ledsætning</h2>
				<p>A sentence that cannot stand alone.</p>
				<div class="card-actions justify-end">
					<a href="/Ledsætning" class="btn btn-neutral">Choose</a>
				</div>
			</div>
		</div>
	</div>
</Layout>
