---
import Word from "../components/Word/Word.tsx";
import Layout from "../layouts/Layout.astro";
import { COLORS } from "../utils/fixedColors.ts";

const genericExamples = [
	[
		{
			danish: "Jeg",
			explanation: "I",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "køber",
			explanation: "buy",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "blomster",
			explanation: "flowers",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Hun",
			explanation: "She",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "læser",
			explanation: "reads",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "bogen",
			explanation: "the book",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Spiller",
			explanation: "Plays",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "han",
			explanation: "he",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "fodbold?",
			explanation: "football?",
			bottomExplanation: "Object" as const,
		},
	],
];

const firstFormExamples = [
	[
		{
			danish: "Jeg",
			explanation: "I",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "køber",
			explanation: "buy",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "(altid)",
			explanation: "(always)",
			bottomExplanation: "Adverb" as const,
		},
		{
			danish: "blomster",
			explanation: "flowers",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Hun",
			explanation: "She",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "læser",
			explanation: "reads",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "(aldrig)",
			explanation: "(never)",
			bottomExplanation: "Adverb" as const,
		},
		{
			danish: "bogen",
			explanation: "the book",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Han",
			explanation: "He",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "spiller",
			explanation: "plays",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "fodbold",
			explanation: "football",
			bottomExplanation: "Object" as const,
		},
		{
			danish: "med hans venner",
			explanation: "with his friends",
		},
	],
];

const secondFormExamples = [
	[
		{
			danish: "Mangler",
			explanation: "Are (we) missing",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "vi",
			explanation: "we",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "æbler?",
			explanation: "apples?",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Er",
			explanation: "Are",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "du",
			explanation: "you",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "(aldrig)",
			explanation: "(never)",
			bottomExplanation: "Adverb" as const,
		},
		{
			danish: "træt?",
			explanation: "tired?",
		},
	],
	[
		{
			danish: "I går",
			explanation: "Yesterday",
		},
		{
			danish: "læste",
			explanation: "read",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "hun",
			explanation: "she",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "bogen",
			explanation: "the book",
			bottomExplanation: "Object" as const,
		},
	],
	[
		{
			danish: "Heldigvis",
			explanation: "Fortunately",
		},
		{
			danish: "vundet",
			explanation: "won",
			bottomExplanation: "Verb" as const,
		},
		{
			danish: "han",
			explanation: "he",
			bottomExplanation: "Subject" as const,
		},
		{
			danish: "kampen",
			explanation: "the match",
			bottomExplanation: "Object" as const,
		},
	],
];
---

<Layout
	title={{
		danish: "Ledsætning",
		translation: "Subordinate clause",
	}}
	breadcrumb={[
		{ name: "Home", link: "/" },
		{ name: "Opbygning af sætninger", link: "/" },
		{ name: "Ledsætning", link: "/Ledsætning" },
	]}
>
	<div>
		<article class="prose max-w-none text-center mb-10">
			<h3>A sentence that cannot stand alone and make sense.</h3>
		</article>
		<div class="flex flex-col align-center">
			{
				genericExamples.map((example) => (
					<div class="mb-10 flex justify-center">
						{example.map((word) => (
							<Word
								client:only="react"
								explanation={word.explanation}
								bottomExplanation={word.bottomExplanation}
								bottomColor={COLORS[word.bottomExplanation]}
							>
								{word.danish}
							</Word>
						))}
					</div>
				))
			}
		</div>
		<div class="divider mb-10"></div>
		<article class="prose max-w-none text-center mb-10">
			<h3>
				1st form:
				<span class={COLORS.Subject.class}>Subject</span>
				<span class={COLORS.Verb.class}>Verb</span>
				<span class={COLORS.Adverb.class}>(Adverb)</span> -
				<span class={COLORS.Object.class}>Object</span>
			</h3>
			<p>Used when the sentence starts with the subject.</p>
		</article>
		<div class="flex flex-col align-center">
			{
				firstFormExamples.map((example) => (
					<div class="mb-10 flex justify-center">
						{example.map((word) => (
							<Word
								client:only="react"
								explanation={word.explanation}
								bottomExplanation={word.bottomExplanation}
								bottomColor={
									word.bottomExplanation &&
									COLORS[word.bottomExplanation]
								}
							>
								{word.danish}
							</Word>
						))}
					</div>
				))
			}
		</div>
		<div class="divider mb-10"></div>
		<article class="prose max-w-none text-center mb-10">
			<h3>
				2nd form:
				<span class={COLORS.Verb.class}>Verb</span>
				<span class={COLORS.Subject.class}>Subject</span>
				<span class={COLORS.Adverb.class}>(Adverb)</span> -
				<span class={COLORS.Object.class}>Object</span>
			</h3>
			<p>Used when the sentence does not start with the subject</p>
		</article>
		<div class="flex flex-col align-center">
			{
				secondFormExamples.map((example) => (
					<div class="mb-10 flex justify-center">
						{example.map((word) => (
							<Word
								client:only="react"
								explanation={word.explanation}
								bottomExplanation={word.bottomExplanation}
								bottomColor={
									word.bottomExplanation &&
									COLORS[word.bottomExplanation]
								}
							>
								{word.danish}
							</Word>
						))}
					</div>
				))
			}
		</div>
		<!-- <div class="divider mb-10"></div>
		<article class="prose text-center mb-10 mx-auto">
			<p>
				<span>
					How do I know that a sentence that <span class="font-bold"
						>doesn't start with a subject</span
					> is a main clause?
				</span>
				<ul class="text-left">
					<li>
						Words like "Heldigvis" (fortunately), "I går"
						(yesterday), "Desværre" (unfortunately), "Hvornår"
						(when) etc start a main sentence because they do not
						need additional context - they can stand alone and make
						sense.
					</li>
					<li>
						Words that need additional context (e.g. "Fordi"
						(because), "Hvis" (if), "Da" (when), "Selvom" (although)
						etc) start a subordinate clause.
					</li>
				</ul>
			</p>
		</article> -->
	</div>
</Layout>
