---
import { Image } from "astro:assets";

interface Props {
	title: string;
	body: string;
	href: string;
	image: ImageMetadata;
	altText: string;
}

const { href, title, body, image, altText } = Astro.props;
---

<div class="card card-compact bg-base-100 shadow-xl flex-1 max-w-md">
	<figure>
		<Image src={image} alt={altText} />
	</figure>
	<div class="card-body">
		<h2 class="card-title">{title}</h2>
		<p>{body}</p>
		<div class="card-actions justify-end">
			<a href={href} class="btn btn-neutral">Choose</a>
		</div>
	</div>
</div>
