---
import Card from "../../components/Card.astro";
import hovedsaetningImage from "../../images/sentences/hovedsætning.jpg";
import ledsaetningImage from "../../images/sentences/ledsætning.jpg";
import trickyImage from "../../images/sentences/tricky.jpg";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title={{
        text: "Structure of sentences",
        tooltip: "Opbygning af sætninger",
    }}
>
    <div class="flex justify-center mb-28">
        <div role="alert" class="alert alert-info max-w-md">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="h-6 w-6 shrink-0 stroke-current"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
            </svg>
            <span>There are only two types of sentences in Danish.</span>
        </div>
    </div>

    <div class="flex w-full space-x-40 px-40 mb-20">
        <Card
            image={hovedsaetningImage}
            title="Hovedsætning/Main Clause"
            body="A sentence that can stand alone."
            href="/Structure of sentences/Hovedsætning"
            image={hovedsaetningImage}
            altText="A big kitten. Photo by Frida Lannerström on Unsplash"
        />
        <div class="divider divider-horizontal">OR</div>
        <Card
            image={ledsaetningImage}
            title="Ledsætning/Subordinate Clause"
            body="A sentence that cannot stand alone."
            href="/Structure of sentences/Ledsætning"
            image={ledsaetningImage}
            altText="A little kitten. Photo by George Bonev on Unsplash"
        />
    </div>

    <div class="flex w-full space-x-40 px-40 mb-20">
        <Card
            image={trickyImage}
            title="Trickier cases"
            body="Where rules are not so clear"
            href="/Structure of sentences/Tricky"
            image={trickyImage}
            altText="Photo by Michał Parzuchowski on Unsplash"
        />
    </div>
</Layout>
