---
import Sentences from "../../components/Sentence/Sentences.tsx";
import Layout from "../../layouts/Layout.astro";
import {
    firstFormExamples,
    genericExamples,
    notAloneExamples,
    secondFormExamples,
    secondFormExamplesStartWithSentence,
} from "../../utils/examples/hovedsætning";
import { COLORS } from "../../utils/fixedColors.ts";
---

<Layout
    title={{
        text: "Main clauses",
        tooltip: "Hovedsætninger",
    }}
>
    <div>
        <article class="prose max-w-none text-center mb-10">
            <h3>A sentence that can stand alone and make sense.</h3>
        </article>
        <Sentences client:only="react" sentences={genericExamples} />
        <div class="divider mb-10"></div>
        <article class="prose max-w-none text-center mb-10">
            <h3>
                1st form:
                <span class={COLORS.Subject.class}>Subject</span>
                <span class={COLORS.Verb.class}>Verb</span>
                <span class={COLORS.Adverb.class}>(Adverb)</span> -
                <span class={COLORS.Object.class}>Object</span>
            </h3>
            <p>Used when the sentence starts with the subject.</p>
        </article>
        <Sentences client:only="react" sentences={firstFormExamples} />
        <div class="divider mb-10"></div>
        <article class="prose max-w-none text-center mb-10">
            <h3>
                2nd form (inversion):
                <span class={COLORS.Verb.class}>Verb</span>
                <span class={COLORS.Subject.class}>Subject</span>
                <span class={COLORS.Adverb.class}>(Adverb)</span> -
                <span class={COLORS.Object.class}>Object</span>
            </h3>
            <p>Used when the sentence does not start with the subject.</p>
        </article>
        <Sentences client:only="react" sentences={secondFormExamples} />
        <article class="prose max-w-none text-center my-10">
            <p>
                Also used when a sentence starts with "another sentence"<br
                />and it is a main clause (it can stand alone and make sense)
            </p>
        </article>
        <Sentences
            client:only="react"
            sentences={secondFormExamplesStartWithSentence}
        />
        <div class="divider mb-10"></div>
        <article class="prose max-w-none text-center mb-10">
            <h3>
                A main clause doesn't <span class="italic">need</span> to stand alone.
                It needs to be <span class="italic">able</span> to stand alone.
            </h3>
            <p>More sentences could follow or precede.</p>
        </article>
        <Sentences client:only="react" sentences={notAloneExamples} />
        <!-- <div class="divider mb-10"></div>
		<article class="prose text-center mb-10 mx-auto">
			<p>
				<span>
					How do I know that a sentence that <span class="font-bold"
						>doesn't start with a subject</span
					> is a main clause?
				</span>
				<ul class="text-left">
					<li>
						Words like "Heldigvis" (fortunately), "I går"
						(yesterday), "Desværre" (unfortunately), "Hvornår"
						(when) etc start a main sentence because they do not
						need additional context - they can stand alone and make
						sense.
					</li>
					<li>
						Words that need additional context (e.g. "Fordi"
						(because), "Hvis" (if), "Da" (when), "Selvom" (although)
						etc) start a subordinate clause.
					</li>
				</ul>
			</p>
		</article> -->
    </div>
</Layout>
