---
import Sentences from "../../components/Sentence/Sentences.tsx";
import Layout from "../../layouts/Layout.astro";
import {
	genericExamples,
	onlyFormExamples,
} from "../../utils/examples/ledsætning";
import { COLORS } from "../../utils/fixedColors";
---

<Layout
	title={{
		danish: "Ledsætning",
		translation: "Subordinate clause",
	}}
>
	<div>
		<article class="prose max-w-none text-center mb-10">
			<h3>A sentence that cannot stand alone and make sense.</h3>
		</article>
		<Sentences client:only="react" sentences={genericExamples} />
		<div class="divider mb-10"></div>
		<article class="prose max-w-none text-center mb-10">
			<h3>
				1st and only form:
				<span class={COLORS.Subject.class}>Subject</span>
				<span class={COLORS.Adverb.class}>(Adverb)</span> -
				<span class={COLORS.Verb.class}>Verb</span>
				<span class={COLORS.Object.class}>Object</span>
			</h3>
		</article>
		<Sentences client:only="react" sentences={onlyFormExamples} />
		<!-- <div class="divider mb-10"></div>
		<article class="prose text-center mb-10 mx-auto">
			<p>
				<span>
					How do I know that a sentence that <span class="font-bold"
						>doesn't start with a subject</span
					> is a main clause?
				</span>
				<ul class="text-left">
					<li>
						Words like "Heldigvis" (fortunately), "I går"
						(yesterday), "Desværre" (unfortunately), "Hvornår"
						(when) etc start a main sentence because they do not
						need additional context - they can stand alone and make
						sense.
					</li>
					<li>
						Words that need additional context (e.g. "Fordi"
						(because), "Hvis" (if), "Da" (when), "Selvom" (although)
						etc) start a subordinate clause.
					</li>
				</ul>
			</p>
		</article> -->
	</div>
</Layout>
